*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
body{ 
    background-color: #e3e3de;
  
}
header{
    width: 100%;
    position: fixed;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #272725;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}
 .sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 300px;
    left: -100%;
    background-color: #272725;
    position:fixed;
    z-index: 99;
    transition: 0.5s;
}
#close{
    position: absolute;
    top: 5px;
    color:whitesmoke;
    font-size: 25px;
    right: 5px;
    margin: 25px;

}
.sidebar-title{
    position: absolute;
    top: 100px;
    font-size: 50px;
    color:#e9980e ;
}
.sidebar.active{
    left: 0;
}
.sidebar a{
    display: flex;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    border-radius: 30px;
    padding-inline: 40px;
    font-size: 1.3em;
    background-color: whitesmoke;
    color: #272725;

}
 
 

  
.title{
    display: flex;
    color:#e9980e ;
}
.links-sections a{
    text-decoration:none;
    padding: 8px;
    padding-inline: 15px;
    margin: 8px;
    color:#272725;
    background-color: whitesmoke;
    border-radius:25px ;
    transition: 0.5s;
}
.links-sections a:hover{
    color: whitesmoke;
    background-color:#272725;
    padding-inline: 30px;
}
#sidebar{
    color:#e9980e;
    font-size: 25px;
    margin: 20px;
    display: none;
}
.menu{
    position: relative;
    top: 100px;
} 
.starter{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

 
}
.Main-Dishes{
    
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

 
}
.desserts{
    
    display: flex;
    
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

 
}
.drinks{
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

 
}
.card{
  margin: 15px;
  width: 300px;
  height: 600px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: #f5deb3;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 0;
} 
.card:hover{
  width: 305px;
  font-size: 15px;
}


.card img{
   width: 100%;

   border-radius:10px ;
   transition: 0.5s;
}
.card img:hover{
    transform: scale(1.05);
}
.card .contant h3{
    color:#e9980e;
    padding: 10px;
}
.card .contant p{
    color: #272725;
    padding: 10px;
    
}
.card   span{
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: end;
    color: #272725;
    margin: 5px;
    align-items: center;
}

.card .add-cart{ 
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left:5px ;
    font-size: 25px;
    padding:5px;
    padding-inline: 12px;
    border-radius:180px;
    color: whitesmoke;
    background-color: #e9980e;
}
.tit{
    color: #e9980e;
    margin-left: 40px;
  
} 
footer{
    display: flex;
    padding: 25px;
    height: 50px;
    background-color: #272725;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}
footer p{
    color: #f5f5f5;
    padding: 5px;
    font-size: 25px;
}
footer i{
    font-size: 40px;
    color: whitesmoke;
}
@media(max-width:600px){
    .card{
        height: auto;
    }
    .links-sections{
        display: none;
    }
    header{
        justify-content: left;
        text-align: center;
    }
    
    #sidebar{
        display: block;
    }
    footer{
        flex-direction: column;
        height: 130px;
    }
}