*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

  

body{ 
    background-color: #e3e3de;
}
header{
    width: 100%;
    margin: 0;
    position: fixed;
    padding: 15px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #272725;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}
 
.starter ,
.Main-Dishes ,
.drinks,
.dessert{
    background-color: #272725;
    margin: 20px;
    padding: 20px;
    border-radius: 35px;
    
}
.title{
    margin-left: 15px;
    display: flex;
    color:#e9980e ;
}
.links-sections a{
    text-decoration:none;
    padding: 8px;
    padding-inline: 15px;
    margin: 8px;
    color:#272725;
    background-color: whitesmoke;
    border-radius:25px ;
    transition: 0.5s;
}
.links-sections a:hover{
    color: whitesmoke;
    background-color:#272725;
    padding-inline: 30px;
}
#sidebar{
    color:#e9980e;
    font-size: 25px;
    margin: 20px;
    display: none;
}
.menu{
    position: relative;
    top: 100px;
} 
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.links-sections-phones{
  margin-top: 75px;
  display: none;
  overflow-x: auto;          /* horizontal scroll */
  white-space: nowrap;
  padding: 10px;
  scroll-behavior: smooth;
  /* hide scrollbar */
  scrollbar-width: none;  
    
}
.links-sections-phones a{
    text-decoration:none;
    padding: 8px;
    padding-inline: 15px;
    margin: 8px;
    color: black;
      background: #eee;
    border-radius:25px ;
    transition: 0.5s; 
}
.card{
  margin: 15px;
  width: 300px;
  height: 600px;
  background-color:#e3e3de;
 
  backdrop-filter: blur(10px);
  color: #f5deb3;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 0;
} 
.card:hover{
  width: 305px;
  font-size: 15px;
}


.card img{
   width: 100%;

   border-radius:10px ;
   transition: 0.5s;
}
.card img:hover{
    transform: scale(1.05);
}
.card .contant h3{
    color:#e9980e;
    padding: 10px;
}
.card .contant p{
    color: #272725;
    padding: 10px;
    
}
.card   span{
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: end;
    color: #272725;
    margin: 5px;
    align-items: center;
}

.card .add-cart{ 
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left:5px ;
    font-size: 25px;
    padding:5px;
    padding-inline: 12px;
    border-radius:180px;
    color: whitesmoke;
    background-color: #e9980e;
}
.tit{
    color: #e9980e;
    margin-left: 40px;
  
} 
footer{
    display: flex;
    padding: 25px;
    height: 50px;
    background-color: #272725;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}
footer p{
    color: #f5f5f5;
    padding: 5px;
    font-size: 25px;
}
footer i{
    font-size: 40px;
    color: whitesmoke;
}

@media(max-width:600px){
    .card{
        height: auto;
    }
    .links-sections{
        display: none;
    }
    header{
        justify-content: left;
        text-align: center;
    }
    .links-sections-phones{
    display: flex;
    }
    .menu{
     top: 0;
     }
}     
    footer{
        flex-direction: column;
        height: 60px;
    }
    







.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  z-index: 999;
  align-items: center;
}
.add{
   display: flex;
   justify-content: end;
}
.btn-add{
    background-color: #e9980e;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    padding: 10px;
    padding-inline:20px ;
}
.preview-content {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 15px;
  animation: show 0.3s ease;
}
.preview-content p{
    font-size: 20px;
    color: #272725;
}
.preview h3{
    font-size: 25px;
    text-align: right;
    
}
.preview-content h2{
    font-weight: 700;
    color: #e9980e;
    font-size: 30px;
}

.preview img {
  width: 100%;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 30px;
  cursor: pointer;
}

.hidden {
  display: none;
}
 
@keyframes show {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
